body {
  margin: 0;
  font-family: Whitney-light, Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, rgba(0,255,109,0.18669466077446606) 0%, rgba(6,206,228,1) 33%, rgba(0,255,109,0.18669466077446606) 100%);  
  background-repeat: no-repeat;
  background-attachment: fixed;
}


button {
  cursor: pointer;
}
